@import "tachyons";

/* [START] Colors */
.off-white {
  color: #fffde7;
}

.bg-off-white {
  background-color: #fffde7;
}

.b--off-white {
  border-color: #fffde7;
}

.accent {
  color: #f8ebee;
}

.bg-accent {
  background-color: #f8ebee;
}

.b--accent {
  border-color: #f8ebee;
}

.base {
  color: #ead0b3;
}

.bg-base {
  background-color: #ead0b3;
}

.b--base {
  border-color: #ead0b3;
}

.pink {
  color: #fec8be;
}

.bg-pink {
  background-color: #fec8be;
}

.b--pink {
  border-color: #fec8be;
}

.base-dark-pink {
  color: #e2b7c1;
}

.bg-base-dark-pink {
  background-color: #e2b7c1;
}

.b--base-dark-pink {
  border-color: #e2b7c1;
}
/* [END] Colors */
